{% extends "./templates/layout.html" %}
{% block content %}

<h2>Maior valor total de bens declarados</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Total bens</th>
      <th>Nome Urna</th>
      <th>Partido</th>
      <th>Estado</th>
      <th>Cargo</th>
    </tr>
  </thead>
  <tbody>
    {% for candidato in candidatos %}
    <tr>
      <td>R$ {{ misc.dinheiro(candidato.total_bens) }}</td>
      <td>{{ candidato.nome_urna }}</td>
      <td>{{ candidato.partido }}</td>
      <td>{{ candidato.estado }}</td>
      <td>{{ candidato.cargo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}