{% extends "./templates/layout.html" %}
{% block content %}

<h2>Despesa máxima de campanha declarada pelo partido</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Valor aprovado</th>
      <th>Nome Urna</th>
      <th>Partido</th>
      <th>Estado</th>
      <th>Cargo</th>
    </tr>
  </thead>
  <tbody>
    {% for candidato in candidatos %}
    <tr>
      <td>R$ {{ misc.dinheiro(candidato.despesa) }}</td>
      <td>{{ candidato.nome_urna }}</td>
      <td>{{ candidato.partido }}</td>
      <td>{{ candidato.estado }}</td>
      <td>{{ candidato.cargo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}