{% extends "./templates/layout.html" %}
{% block content %}

<h2>Algumas estatísticas gerais</h2>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Cor / Raça</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.cor_raca %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Sexo</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.sexo %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Estado Civil</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.estado_civil %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Escolaridade</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.escolaridade %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Situação</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.situacao %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class= "col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-5">Partido</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in estatisticas.partido %}
    <tr>
      <td>{{ stat.nome }}</td>
      <td>{{ stat.valor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}