{% extends "./templates/layout.html" %}
{% block content %}

  <h2><a href="/media-bens-partidos/">Média de bens dos candidatos agrupados por partido</a></h2>
  <hr>
  <h2><a href="/bens/">Maior valor total de bens declarados</a></h2>
  <hr>
  <h2><a href="/candidatos/">Despesa máxima de campanha declarada pelo partido</a></h2>
  <hr>
  <h2><a href="/estatisticas/">Algumas estatísticas gerais</a></h2>

{% endblock %}