{% extends "./templates/layout.html" %}
{% block content %}

<h2>Média de bens dos candidatos agrupados por partido</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Média total bens / candidato</th>
      <th>Partido</th>
      <th>Percentual que declarou</th>
      <th>Total de candidatos que declararam</th>
    </tr>
  </thead>
  <tbody>
    {% for partido in partidos %}
    <tr>
      <td>R$ {{ misc.dinheiro(partido.media) }}</td>
      <td>{{ partido.partido }}</td>
      <td>{{ misc.dinheiro(partido.taxa) }}%</td>
      <td>{{ partido.candidatos }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}