<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <title>Eleições 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% if isIndex %}
        <h1>Eleições 2014</h1>
      {% else %}
        <h1><a href="/">Eleições 2014</a></h1>
      {% endif %}
      <hr>
      {% block content %}{% endblock %}
      <hr>
      <small class="row col-md-12">
        Data da última atualização desta página: {{ lastUpdate }} &mdash; 
        Contato: <a href="mailto:eleicoes@xpto.me">eleicoes@xpto.me</a> &mdash; 
        Fonte: <a href="http://www.tse.jus.br/eleicoes/estatisticas/repositorio-de-dados-eleitorais">Repositório de dados eleitorais</a>
      </small>
    </div>
    <br>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45947849-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>